<!DOCTYPE html>
<html class="{{ page.class }}">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ page.title | title }}</title>
    <meta name="description" content="design director, product design, visual design, art direction" />
    <meta property="og:title" content="{{ page.title | title }}">
    <meta property="og:description" content="design director, product design, visual design, art direction">
    <meta property="og:type" content="website">
    <meta property="og:image" content="{{ page.shareImg | shareImg }}">
    <meta property="og:url" content="{{ page.url | url }}">
    <meta property="og:site_name" content="Monica Rachel Parra | Product Design">
    <link rel="shortcut icon" type="image/png" href="../../assets/images/favicon.png">
    <link rel="stylesheet" href="../../assets/css/styles.css">
  </head>
  <body>
    <div class="site">
