@import 'variables';

.about {
  padding: 80px 80px 180px 80px;
  background: #180E2E;
  margin: 0;
  display: flex;
  justify-content:  space-between;
  gap: 8em;

  @media (max-width: 980px) {
    flex-direction: column;
  }

  @media (max-width: 500px) {
    padding: 40px;
    gap: 4em;
  }
}


.bio {
    h3 {
      font-size: 48px;
      color: white;

      @media (max-width: 500px) {
        font-size: 32px;
      }
    }

    p {
        font-size: 24px;
        color: white;
        line-height: 40px;
        font-weight: 300;
        padding-top: 20px;

        span {
          color: $mp-mango;
          font-weight: 400;  
        }

        @media (max-width: 500px) {
          font-size: 19px;
        }
    }
}

