@import 'variables';

.portfolio {
  padding: 20px 20px 80px 20px;
  text-align: center;
  background: #180E2E;

  &-header {
    padding: 60px 0 40px 0;

    .store-logos {
      display: flex;
      justify-content: center;

      img {
        width: 140px;
        padding: 0 10px;

        &.google-play {
          width: 160px;
          height: 41px;
        }
      }

    }

    h2 {
      color: $mp-mango;
      font-size: 11px;
      letter-spacing: 2px;
      text-transform: uppercase;
      font-weight: 700;
      padding: 0;
      margin: 0;
    }
    
    small {
      font-size: 15px;
      margin: 40px 0;
      display: block;
      color: #97aade;
    }
  }

  p {
    color: white;
    font-size: 21px;
    padding: 40px 0 20px 0;
    line-height: 30px;
    font-weight: 400;

    &.highlight {
      color: $mp-mango;
    }
  }

  h2, p {
    max-width: 900px;
    margin: 0 auto;
  }


  img {
    max-width: 1200px;
    width: 100%;
    margin-bottom: 40px;
    padding-top: 20px;
  }

  img + h3 {
    margin-top: 40px;
    border-top: 1px solid rgba(white, .15);
    padding-top: 80px;
  }

  .no-wrap {
    max-width: 1600px;
    text-align: center;
    margin: 0 auto;
    border-top: 1px solid rgba(white,.15);
    padding-top: 60px;
    

    h3 {
      color: pink;
      text-transform: uppercase;
      font-size: 11px;
      letter-spacing: 2px;
    }
    p{
      font-size: 17px;
      font-weight: 300;
      color: #DBE4FF;
      padding: 20px;
    }
  }

  .video-player {
    max-width: 958px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  .wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    img.two-col {
      width: 40%;
      height: 40%;
      padding: 20px;
    }
  }

  #player {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 40px;
  }

 h3 + #player {
    margin-top: 20px;
  }
}
