@import 'variables';

body,
.site-body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
}
.page-home {
  .hero {
    padding: 80px 40px 100px 100px;
    background: rgb(137,14,255);
  background: linear-gradient(124deg, rgba(137,14,255,1) 0%, rgba(254,29,202,1) 100%);
    @media (max-width: 500px) {padding: 80px 40px 100px 40px;}

    .badge {
      width: 45px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      position: fixed;
      right: 0;
      top: 40px;
      padding: 10px 8px 10px 10px;
      background-color: black;
      transition: width .5s ease;
      overflow: hidden;
      z-index: 10;
      cursor: pointer;

      &::before {
        opacity: 0;
        content: 'monica rachel parra';
        transition: opacity .5s ease;
        text-transform: uppercase;
        font-size: 15px;
        position: absolute;
        right: 76px;
        width: 180px;
        color: fade(white,75%);
        padding-bottom: 3px;
      }

      &:hover {
        width: 258px;

        h2 {
          border-left: 1px solid rgba(255,255,255,.5);
          padding-left: 15px;
        }

        &::before {
          opacity: 1;
        }
      }
    }

    h2 {
      font-size: 30px;
      font-weight: 900;
      width: auto;
      color: white;
      letter-spacing: .06em;
      text-transform: uppercase;
      text-align: right;
      margin: 0;
      padding: 0;
      @media (max-width: 480px) {
        line-height: 48px;
        margin-bottom: 40px;
      }

    }
    ul {
      margin: 0;
      padding: 0 0 60px 0;

      li {
        color: fade(white, 40%);
        text-transform: uppercase;
        list-style: none;
        padding: 0 0 10px 0;
        cursor: pointer;
        transition: color .5s ease;
        transition: padding .6s ease;

        &:hover {
          color: #F5DAAA;
          padding: 0 0 10px 10px;
          span {
            display: inline-block;
            -webkit-animation-name: hover-fade;
            -webkit-animation-duration: 1s;
            animation-name: hover-fade;
            animation-duration: 1s;
          }
        }

        span {
          font-size: 15px;
          text-transform: none;
          font-weight: 400;
          color: rgba(255,255,255,.75);
          margin-left: 2px;
          display: none;

        }
        &:first-child {
          font-size: 16px;
        }
        &:nth-child(2) {
          font-size: 22px;
        }
        &:nth-child(3) {
          font-size: 26px;
        }
        &:nth-child(4) {
          font-size: 30px;
        }
        &:last-child {
          font-size: 42px;
          color: white;
          font-weight: 900;
          padding: 0;
          cursor: default;

          span {
            display: block;
            font-size: 21px;
            animation-name: none;
            margin: 0;
            padding-top: 10px;
          }
        }
      }
    }
    p {
      font-size: 28px;
      font-weight: 400;
      color: white;
      max-width: 860px;
      padding: 20px 0 40px 0;

      &:last-of-type {
        padding: 0;
        font-size: 27px;
        line-height: 31px;
      }
    }
  }
  @keyframes hover-fade {
    from { opacity: 0;}
    to { opacity: 1;}
  }
  .about-me {
    background: black;
    padding: 60px 100px;

    &.footer {
      border-top: 1px solid fade(white, 20%);
    }
    p {
      font-size: 21px;
      color: fade(white,65%);
      line-height: 29px;
      max-width: 1200px;
    }
    ul li {
      color: white;
      padding: 8px 0;
    }
    @media (max-width: 1200px) {
      padding: 40px;
    }

    p.contact-me {
      font-size: 17px;
      margin-top: 40px;
      a {
        color: rgba(254,29,202,1);
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    h4 {
      color: white;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: .05em;
    }

    .little-tidbits {
      display: flex;
      @media (max-width: 1200px) {
        flex-wrap: wrap;
      }

      .tidbit {
        margin-right: 40px;
        cursor: default;

        &:hover {
          p {
            color: fade(white,65%);
            transition: color 1s ease;
            transition: border-color 1s ease;
            border-color: #F5DAAA;
          }
        }

        .logo {
          height: 70px;
          display: flex;
          align-items: center;

          img {
            max-width: 50px;
          }
        }

        &:nth-of-type(2) {
          img {
            max-width: 150px;
          }
        }
        &:nth-of-type(3) {
          img {
            max-width: 150px;
          }
        }
        &:nth-of-type(4) {
          img {
            max-width: 90px;
          }
        }
        &:last-of-type {
          margin-right: 0;
          img {
            max-width: 130px;
          }
        }

        p {
          color: fade(white,50);
          font-size: 17px;
          line-height: 25px;
          height: 80px;
          border-bottom: 1px solid fade(white,25%);
          padding-bottom: 30px;

          @media (max-width: 1200px) {
            height: auto;
            border: none;
            padding-bottom: 0;
          }

          strong {
            color: fade(white,75%);
          }
        }
      }
    }


  }

  .highlight {
    padding: 60px 40px 40px;
    text-align: center;
    background-color: white;

    p {
      font-size: 19px;
      padding: 20px 0 60px 0;
      color: rgba(54,42,66,1);
      max-width: 800px;
      margin: 0 auto;
    }
  }
  .all-work {
    padding: 0 0 60px 0;
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -ms-box-sizing:border-box;
    background: rgb(54,42,66);
background: linear-gradient(124deg, rgba(54,42,66,1) 0%, rgba(0,0,0,1) 100%);

    @media (max-width: 480px) { padding: 0 20px; }
    @media (min-width: 900px) { width: 100%; }
    h3 {
      color: white;
      font-size: 21px;
      font-weight: 700;
      padding: 40px 0 0 0;
    }
    p {
      margin: 0;
      font-size: 19px;
      padding: 0 0 40px 0;
      color: white;
    }
    .grid {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      width: 100%;
      justify-content: center;

      .grid-item {
        margin: 20px;
        position: relative;
        &:hover {
          .reveal {
            opacity: 1;
          }
        }
        .reveal {
          position: absolute;
          top: 0;
          left: 0;
          background: rgba(0,0,0,1);
        background: linear-gradient(124deg, rgba(137,14,255,.8) 0%, rgba(254,29,202,.8) 100%);
          color: white;
          font-size: 28px;
          width: 420px;
          height: 280px;
          padding: 40px;
          opacity: 0;
          transition: opacity .5s ease-out;
          text-align: left;
          box-sizing:border-box;
          -moz-box-sizing:border-box;
          -webkit-box-sizing:border-box;
          -ms-box-sizing:border-box;

          small {
            display: block;
            font-size: 17px;
            padding-top: 10px;
          }
        }

        img {
          width: 420px;
          height: 280px;

          &.border {
            border: 1px solid darken(@text-color,60%);
          }
        }
      }
    }
  }
}
