@import 'variables';

body,
.site-body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
}

#particles {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;

  @media (max-width: 480px) {
    height: 380px;
    overflow: hidden;
  }
}
.page-home {
  .title-hero {
    text-align: center;
    padding: 80px 40px 80px 40px;
    background: linear-gradient(45deg, @mp-mango, @mp-peach, @mp-papaya, @mp-peach,@mp-mango);
    background-size: 300% 100%;
    -webkit-animation: HeroGradient 20s ease infinite;
    -moz-animation: HeroGradient 20s ease infinite;
    animation: HeroGradient 20s ease infinite;

    @media (max-width: 480px) { padding-top: 100px;}

    h2 {
      font-size: 54px;
      font-weight: 200;
      color: white;
      text-transform: uppercase;
      margin: 0;
      padding: 0;
      @media (max-width: 480px) {
        line-height: 48px;
        margin-bottom: 40px;
      }

    }
    p {
      font-size: 21px;
      color: @mp-mango;
      letter-spacing: .03em;
      padding-top: 20px;
      strong {
        font-weight: 700;
        color: white;
      }
      & + p {
        font-size: 15px;
        padding: 0 0 60px 0;
        strong {
          font-weight: 400;
        }
      }
    }
    .areas-of-focus {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin: 0 auto;
      width: 80%;
      justify-content: center;
      border-top: 1px solid fade(white,50%);
      margin-top: 40px;
      h3 {
        text-transform: uppercase;
        padding: 40px;
        color: white;
        font-size: 21px;
        font-weight: 400;
        letter-spacing: .05em;

        @media (max-width: 480px) { padding: 20px 40px; }
      }
    }
  }

  @-webkit-keyframes HeroGradient {
    0% {
      background-position: 0% 50%
    }
    50% {
      background-position: 100% 50%
    }
    100% {
      background-position: 0% 50%
    }
  }
  @-moz-keyframes HeroGradient {
    0% {
  		background-position: 0% 50%
  	}
  	50% {
  		background-position: 100% 50%
  	}
  	100% {
  		background-position: 0% 50%
  	}
  }
  @keyframes HeroGradient {
    0% {
  		background-position: 0% 50%
  	}
  	50% {
  		background-position: 100% 50%
  	}
  	100% {
  		background-position: 0% 50%
  	}
  }
  .recent-banner {
    text-align: center;
    padding: 10px;
    color: darken(@text-color,50%);
    position: relative;
    z-index: 12;
  }
  .highlight {
    padding: 80px 40px 40px;
    text-align: center;
    position: relative;
    z-index: 11;
    background-color: #4D68A2;
    color: white;

    a {
      color: white;
      text-decoration: none;
      font-size: 21px;
      font-weight: 700;
      &:hover {
        text-decoration: underline;
      }
    }
    p {
      font-size: 17px;
      padding-bottom: 20px;
    }
    img {
      max-width: 940px;
      width: 100%;
    }
    &.primary {
      background-color: fade(#4D68A2,30%);
      max-height: 560px;
      overflow-y: hidden;
      border-bottom: 1px solid @text-color;

      a, p {
        color: darken(@text-color, 50%);
      }
      p {
        margin-bottom: 40px;
      }
    }
  }
  .all-work {
    padding: 0;
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -ms-box-sizing:border-box;

    @media (max-width: 480px) { padding: 0 20px; }
    @media (min-width: 900px) { width: 100%; }
    h3 {
      color: darken(@text-color, 50%);
      font-size: 21px;
      font-weight: 700;
      padding: 10px 0 0 0;
    }
    p {
      margin: 0;
      font-size: 19px;
      padding: 0 0 40px 0;
      color: darken(@text-color, 50%);
    }
    p.contact-me {
      font-size: 15px;
      font-weight: 600;
      border-bottom: 1px solid @text-color;
      margin: 0 auto;
      padding-top: 40px;

      a {
        color: #5983cb;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
    .grid {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      width: 100%;
      justify-content: center;

      .grid-item {
        width: 300px;
        height: 200px;
        padding: 20px;

        img.border {
          border: 1px solid fade(@text-color,55%);
        }
      }
    }
  }
}
