@import 'variables';

body,
.site-body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
}
.page-home {
  .hero {
    padding: 80px 40px 100px 100px;
    background: rgb(255,202,103);
    background: linear-gradient(90deg, rgba(255,1,118,1) 0%, rgba(255,202,103,1) 100%);

    @media (max-width: 480px) { padding-top: 100px;}

    .badge {
      width: 45px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      position: absolute;
      right: 40px;
      top: 40px;
      padding: 10px 8px 10px 10px;
      background-color: black;
      transition: width .5s ease;
      overflow: hidden;
      cursor: pointer;

      &::before {
        opacity: 0;
        content: 'monica rachel parra';
        transition: opacity .5s ease;
        position: absolute;
        right: 40px;
        width: 180px;
        color: white;
        padding-bottom: 4px;
      }

      &:hover {
        width: 224px;

        h2 {
          border-left: 1px solid rgba(255,255,255,.5);
          padding-left: 15px;
        }

        &::before {
          opacity: 1;
        }
      }
    }

    h2 {
      font-size: 30px;
      font-weight: 900;
      width: auto;
      color: white;
      letter-spacing: .06em;
      text-transform: uppercase;
      text-align: right;
      margin: 0;
      padding: 0;
      @media (max-width: 480px) {
        line-height: 48px;
        margin-bottom: 40px;
      }

    }
    ul {
      margin: 0;
      padding: 0 0 60px 0;

      li {
        color: fade(#F5DAAA, 50%);
        text-transform: uppercase;
        list-style: none;
        padding: 0 0 10px 0;
        cursor: pointer;
        transition: color .5s ease;
        transition: padding .6s ease;

        &:hover {
          color: #F5DAAA;
          padding: 0 0 10px 10px;
          span {
            display: inline-block;
            -webkit-animation-name: hover-fade;
            -webkit-animation-duration: 1s;
            animation-name: hover-fade;
            animation-duration: 1s;
          }
        }

        span {
          font-size: 15px;
          text-transform: none;
          font-weight: 400;
          color: rgba(255,255,255,.75);
          margin-left: 2px;
          display: none;

        }
        &:first-child {
          font-size: 16px;
        }
        &:nth-child(2) {
          font-size: 22px;
        }
        &:nth-child(3) {
          font-size: 26px;
        }
        &:nth-child(4) {
          font-size: 30px;
        }
        &:last-child {
          font-size: 42px;
          color: white;
          font-weight: 900;
          padding: 0;

          &:hover {
            padding: 0;
          }

          span {
            display: block;
            font-size: 21px;
            animation-name: none;
            margin: 0;
            padding-top: 10px;
          }
        }
      }
    }
    p {
      font-size: 28px;
      font-weight: 400;
      color: white;
      max-width: 900px;
      padding: 20px 0 40px 0;

      &:last-of-type {
        padding: 0;
        font-size: 21px;
        line-height: 26px;
      }
    }
  }
  @keyframes hover-fade {
    from { opacity: 0;}
    to { opacity: 1;}
  }
  .recent-banner {
    text-align: center;
    padding: 10px;
    color: darken(@text-color,50%);
    position: relative;
    z-index: 12;
  }
  .highlight {
    padding: 80px 40px 40px;
    text-align: center;
    background-color: fade(#4D68A2,30%);

    a {
      color: darken(@text-color, 50%);
      text-decoration: none;
      font-size: 21px;
      font-weight: 700;
      &:hover {
        text-decoration: underline;
      }
    }
    p {
      font-size: 17px;
      padding-bottom: 20px;
    }
    img {
      max-width: 940px;
      width: 100%;
    }
    &.primary {
      background-color: #4D68A2;
      color: white;
      a, p {
        color: white;
      }
      p {
        margin-bottom: 40px;
      }
    }
  }
  .all-work {
    padding: 0;
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -ms-box-sizing:border-box;

    @media (max-width: 480px) { padding: 0 20px; }
    @media (min-width: 900px) { width: 100%; }
    h3 {
      color: darken(@text-color, 50%);
      font-size: 21px;
      font-weight: 700;
      padding: 10px 0 0 0;
    }
    p {
      margin: 0;
      font-size: 19px;
      padding: 0 0 40px 0;
      color: darken(@text-color, 50%);
    }
    p.contact-me {
      font-size: 15px;
      font-weight: 600;
      border-bottom: 1px solid @text-color;
      margin: 0 auto;
      padding-top: 40px;

      a {
        color: #5983cb;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
    .grid {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      width: 100%;
      justify-content: center;

      .grid-item {
        width: 300px;
        height: 200px;
        padding: 20px;

        img.border {
          border: 1px solid fade(@text-color,55%);
        }
      }
    }
  }
}
