@import 'variables';

.top-nav {
  background: rgb(224,90,240);
  background: linear-gradient(135deg, rgba(224,90,240,1) 0%, rgba(15,123,255,1) 50%, rgba(0,226,255,1) 100%);
  padding: 20px;
  text-align: center;
  position: relative;
  z-index: 15;
  p {
    color: white;
    text-transform: uppercase;
    margin: 0;
    padding: 5px 0;
  }
  small {
    color: @mp-mango;
  }
  .back-btn a {
    position: absolute;
    left: 0;
    top: 26px;
    background-color: black;
    color: white;
    font-size: 13px;
    padding: 10px 24px 12px;
    text-decoration: none;
    &:hover {
      background-color: rgb(40,40,40);
    }

    @media (max-width: 480px) {
      top: 110px; left: 20px;
    }
  }
}
.portfolio-detail {
  padding: 80px 40px;
  text-align: center;
  background-color: fade(#4D68A2,12%);
  h2 {
    color: darken(@text-color, 50%);
    font-size: 21px;
    font-weight: 700;
  }
  p {
    color: darken(@text-color, 50%);
    font-size: 17px;
    padding: 20px 0 20px;
    line-height: 25px;

    &:first-of-type {
      padding-top: 40px;
    }
  }
  a {
    position: relative;
    display: block;
    text-decoration: none;
    color: #0653F4;
    padding-bottom: 30px;
    &:hover {
      text-decoration: underline;
    }
  }
  h2,p {
    max-width: 800px;
    margin: 0 auto;
  }
  h3 {
    font-weight: 400;
    font-size: 17px;
    padding-bottom: 20px;
    color: darken(@text-color, 40%);
  }
  img {
    max-width: 940px;
    width: 100%;
    margin-bottom: 40px;
    padding-top: 20px;
  }
  .wrapper {
    display: flex;
    justify-content: center;

    img.two-col {
      width: 40%;
      height: 40%;
      padding: 20px;
    }
  }

  #player {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 4s0px;
  }
}
