.top-nav {

  background: rgb(137,14,255);
  background: linear-gradient(124deg, rgba(137,14,255,1) 0%, rgb(209, 29, 254) 100%);
  padding: 20px;

  .nav-links {
    display: flex;  
    flex-wrap: nowrap;

    p {
      color: white;
      margin: 0 20px 0 0;
      flex-grow: 2;
      font-weight: 600;

      a {
        text-decoration: none;
      }
    }
  
    a {
      margin: 0 20px;
      color: white;
    
      &:hover {
        color: pink;
      }
    }
  }
}