body {
  background: #000;
	margin: 0;
}

#container {
  position: absolute;
  top: 80px;
}

.logo-container, .logo-background {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 10;
  top: 80px;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}

.swoosh-background {
  width: 575px;
  height: 583px;
  margin: 0 auto;
}

#container > div {
  display: none;
}


.logo-badge {
  width: 320px;
  position: relative;
  top: 68px;
  left: 80px;
  z-index: 11;
}

h2 {
  color: #fff;
  z-index: 12;
  position: absolute;
  text-transform: uppercase;
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-size: 32px;
  -webkit-font-smoothing: antialiased;
  bottom: 40px;
  right: 80px;
}
